body {
  height: 100vh;
  overflow: hidden;
  background: url(./img/layered-waves-haikei.svg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --main-background: #85C1E9;
  --main-group-background : #fff;
}

/* ---------------FORM------------------ */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 340px;
  padding: 12px ;
  margin: 10px auto;
  background: var(--main-group-background);
  border-radius: 4px;
  z-index: 1000;
  position: relative;
  box-sizing: border-box;
}
.form--animation1 {
  animation: pop-in1 0.7s;
}
.form--animation2 {
  animation: pop-in2 0.7s;
}
.form--animation3 {
  animation: pop-in3 0.7s;
}
.form--animation4 {
  animation: pop-in4 0.7s;
}
.form--animation5 {
  animation: pop-in5 0.7s;
}
@keyframes pop-in1 {
  0%{
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50%{
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes pop-in2 {
  0%{
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50%{
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes pop-in3 {
  0%{
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50%{
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes pop-in4 {
  0%{
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50%{
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes pop-in5 {
  0%{
    transform: scale(0) translateY(100px);
    opacity: 0;
  }
  50%{
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}