body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --main-background: #85C1E9;
    --main-button-background: #3498DB;
    --main-group-background : #f4f7f8;
}


/* ---------------GROUP------------------ */
.group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 340px;
    padding: 10px;
    margin: 10px auto;
    background: var(--main-group-background);
    border-radius: 8px;
    z-index: 1000;
    position: relative;
    box-sizing: border-box;
}
.group--active1 {
    animation: pop-in1 0.7s;
}
.group--active2 {
    animation: pop-in2 0.7s;
}
.group--active3 {
    animation: pop-in3 0.7s;
}
.group--active4 {
    animation: pop-in4 0.7s;
}
.group--active5 {
    animation: pop-in5 0.7s;
}
@keyframes pop-in1 {
    0%{
      transform: scale(0) translateY(100px);
      opacity: 0;
    }
    50%{
      transform: scale(1.05) translateY(-10px);
      opacity: 1;
    }
    100%{
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
}
@keyframes pop-in2 {
    0%{
      transform: scale(0) translateY(100px);
      opacity: 0;
    }
    50%{
      transform: scale(1.05) translateY(-10px);
      opacity: 1;
    }
    100%{
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
}
@keyframes pop-in3 {
    0%{
      transform: scale(0) translateY(100px);
      opacity: 0;
    }
    50%{
      transform: scale(1.05) translateY(-10px);
      opacity: 1;
    }
    100%{
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
}
@keyframes pop-in4 {
    0%{
      transform: scale(0) translateY(100px);
      opacity: 0;
    }
    50%{
      transform: scale(1.05) translateY(-10px);
      opacity: 1;
    }
    100%{
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
}
@keyframes pop-in5 {
    0%{
      transform: scale(0) translateY(100px);
      opacity: 0;
    }
    50%{
      transform: scale(1.05) translateY(-10px);
      opacity: 1;
    }
    100%{
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
}
.group_form_container {
    display: flex;
    flex-direction: column;
}
.group_input { 
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    outline: none;
    padding: 15px;
    width: 310px;
    height: 50px;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 15px;
    margin-top: 8px;
    box-sizing: border-box;
}
textarea.group_input{
    height: 70px;
}
select.group_input{
    width: 310px;
}
.group_button {  
    padding: 10px 20px;
    color: #FFF;
    background-color: var(--main-button-background);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 140px;
    border: 1px solid #2874A6;
    border-width: 0 0 3px;
    margin-bottom: 10px;
}
.group_label {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-bottom: 15px;
    cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
.group_form_radios {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.light {
    font-weight: 400;
    font-size: 15px;
    margin:3px 0 3px 10px ;
}

.user_link {
    background-color:  #e8eeef;
    padding: 5px;
    font-weight: 600;
}


/* ------------PAGES ----------*/

.page {
  display: flex;
}
.page_number {
    background-color: #b9bbbb;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin: 8px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.3s;
}
.page_number--current {
    background-color: var(--main-button-background);
}
.page_number--active {
    box-shadow: 0px 0px 0px 4px #85C1E9;
    transition: 0.3s;
}
.page_number--error {
    background-color: #CB4335;
    box-shadow: 0px 0px 0px 4px #EC7063;
}
.page_number:hover {
    box-shadow: 0px 0px 0px 4px #85C1E9;
}
.page_done {
    background-color: #02D175;
}
.page_done--active {
    box-shadow: 0px 0px 0px 4px #67ECB1;
    transition: 0.3s;
}
.page_done:hover {
    box-shadow: 0px 0px 0px 4px #67ECB1;
}

/* ------------VALIDATION----------*/


.error_text {
    color: red;
    margin-bottom: 5px;
    text-align: center;
}





